body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.navbar-brand{
  color: white;
  font-size: 45px;
  cursor: pointer;
}
/*card*/

.col-4{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.card{
  height: 100%;
  display: flex;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav{
  display: flex;
  align-items: center;
  gap: 25px;
}

.meal-wrapper{
  display: flex;
  gap: 20px;

}
.meal-wrapper img{
  height: 100%;
  width: 100%;
  max-width: 400px;
}




